# DLAI S08A01 - Pandas Library

In [ ]:
"""
In this section, we are going to learn about the Pandas Library

This Pandas library is one of the most popular Python libraries for Data Science , we often refer them as -->  “SQL of Python” 
and this is Because, pandas helps us to manage the two-dimensional data tables in Python. 
When I say, managing the data tables using pandas, that means --> We will be making use of pandas in data cleaning, 
transforming, and analyzing .

In short, the numpy library which we had learnt in last section, will help us to perform the calculations efficiently, and
the pandas library, will help us to extract the required data from external source, and transform it, so that it can be used in
numpy arrays for mathematical analysis. And, knowing how to work with pandas library, will make your life easier when performing the data
analysis.

So, as a first step in working with any library, Lets start with importing the library.

The common practice to import the pandas library, is with a shorter name as pd
So, I will write as :
"""
import pandas as pd

"""
I will now execute the code.
""";

In [ ]:
"""
Okay, the library has been imported for our session,
For verification, lets print the version of pandas library which has been installed in our system.
So, I will write as :
"""
print(pd.__version__)

0.25.3

In [ ]:
"""
Okay, This is the version of pandas package that has been installed in my system.
The version which I have in my system might be different than what is present in your system,
but the core thing is, you should have an output like this to verify that pandas library has been installed.

Now, Just like we have the numpy arrays as a core component of numpy library,
We have two core components in Pandas,
They are: 'Pandas Series' and 'Pandas Data Frame'

The 'pandas series' refer to the single column of data and the Data frame, is a multi-dimensional table made up of
a collection of Series.
You will understand more as we progress in this section.

So, lets start with understanding of Pandas Series.

This pandas Series can be called as a cross between a' python list' and a 'dictionary'.  This is because, The items are all 
stored in an order and we have a label with which we can use to retrieve them, and apart from label we can also retrieve the
elements using its index position.

For our understanding we can visualize Python Series as a 3 columns of data.
The first column is the special index, this is just like the dictionary keys, and the second column as the actual data. 
Apart from Index labels, we also have another column which has the data of index position.

So, As a first step, 
Lets learn how to create the pandas series.

We can create a pandas series by passing a list of values into the pandas(dot)Series constructor.

To illustrate this,
I will first create a python list like this.
"""

got_list = ["Ned Stark","Catelyn Stark","Arya Stark","Sansa Stark", "Rob Stark", "Bran Stark", "Rickon Stark"]

In [ ]:
"""
Okay I have now created a python list.

Now, Lets convert this to Python Series by passing inside the pandas.Series() constructor
"""
got_series = pd.Series(got_list)
 #I will now execute the code

In [ ]:
"""
Okay, 
This has created the pandas series.

As you have observed, to create the pandas series, we will simply pass the python list
inside the --> pd.Series() constructor.

Now, lets display the type of new series.
So, I will write as :

"""
print(type(got_series))

<class 'pandas.core.series.Series'>

In [ ]:
"""
As we can see in the output, the type of the variable  'got_series' is Pandas Series.

Now, lets print the newly created series and see how it looks like
"""
print(got_series)

0        Ned Stark
1    Catelyn Stark
2       Arya Stark
3      Sansa Stark
4        Rob Stark
5       Bran Stark
6     Rickon Stark
dtype: object

In [ ]:
"""
As we can see in the output, 
Pandas has automatically assigns an index starting with zero,
also we can see that, data_type of the newly created Pandas Series is set as --> object
That means, pandas has automatically identified the type of the data being used in the pandas series.

Now, This time, I will create one more python list of integers and convert to pandas series.
So i will write as :
"""
py_list = [1,2,3,4,5,6,7,8]
py_series = pd.Series(py_list)
print(py_series)
# I will now execute the code

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [ ]:
"""
As we can see in the output,
when we pass in -->  a list of integers, the pandas has created the pandas series of data_type int64.
 
Also if you observe, the index values are starting from zero as default.
Now, We can also specify our own set of index values when we are creating a Series. 

To illustrate the same, i will write as :
"""
import numpy as np
custom_index = pd.Series([1,2,3,4,5,6,7,8,9,10],index=np.arange(0,20,2))
print(custom_index)

"""
here, I am creating the pandas series with python list which has the numbers between 1 to 10,
and i have specified one more parameter 'index' as np.arange(0,12,2), that means, numbers between 0 to 20 with step size as 2.

Okay.
Lets execute this.
""";

0      1
2      2
4      3
6      4
8      5
10     6
12     7
14     8
16     9
18    10
dtype: int64

In [ ]:
"""
As we can see in the output, the pandas series has the elements between 1 to 10, and has its index as --> 0,2,4,6, and so on

The creation of pandas series are not just limited to 'lists', we can also create from numpy arrays as well.
To illustrate, I will write as
"""
num_series = pd.Series(np.arange(10,110,10), index = np.arange(10,20))
print(num_series)

10     10
11     20
12     30
13     40
14     50
15     60
16     70
17     80
18     90
19    100
dtype: int64

In [ ]:
"""
As we can see in the output, the index are between 10 to 19, and the elements of pandas series as --> 10,20,30 upto 100

So, we are now clear as how to create a pandas series and, how to specify our own index values.
Now, these special index are not just limited to numbers, we can also use String values as Index as well.

To illustrate, I will write it like this.
"""
str_series = pd.Series(np.arange(10,60,10), index = ['a','b','c','d','e'])
print(str_series)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [ ]:
"""
So, this has created the pandas series with index as --> string characters.

Whenever we use pandas series, the three common attributes we refer are are --> name, data type & index
lets call one by one,
So, first i will call as -->
"""
print(str_series.name)

None

In [ ]:
"""
So, we have the output as 'None'
That means,
whenever we create a pandas series using the --> Pandas.Series() constructor, the name will be set to
'None' by default

We can also specify the name if we require.
So, I will write as :
"""
str_series.name = "String Series"
print(str_series)

a    10
b    20
c    30
d    40
e    50
Name: String Series, dtype: int64

In [ ]:
"""
So, this has set the name to our Pandas Series.

Now, with the use of 'dtype' attribute, we can return the data type of the elements in the series
So, This time, I will call as :
"""
print(str_series.dtype)

int64

In [ ]:
"""
We have the output as --> integers

and Finally, we have the attribute as --> 'index' , and this will return the index values of pandas series.
So,
"""
print(str_series.index)

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [ ]:
"""
As we can see, This has returned the index values in our Pandas Series.
We can also see the data type of index, 
It is of 'dtype' --> 'object'

(Screen Recording Tip : Show the screen from beginning for below summary)

Lets Recap as what we have learnt till now.

To create a pandas Series, we first import the pandas library with the shorthand name as pd

Then,
- To create a pandas series from python lists, we will simply pass the python lists inside the --> pd.Series() constructor
- The default indexing of pandas series starts from zero,
- We can also specify our required index by making use of 'index' parameter during the creation of Pandas Series
- We get the name of Pandas Series, by making use of 'Name' Attribute, In the same way we can access the other attributes
  like dtype & index

Okay. 
Now, lets continue our learning of creating the pandas series.
 
Apart from creating the Pandas Series from lists & numpy arrays,
We can also create the Pandas Series using the python dictionary.

To illustrate this, I will create the python dictionary like this
"""

got_dict = {'Catelyn Stark' : 5, 'Cersei Lannister': 2, 'Daenerys Targaryen': 0}

# I will now convert this to pandas series like this
got_series = pd.Series(got_dict)
print (got_series)
#I will now execute the code

Catelyn Stark         5
Cersei Lannister      2
Daenerys Targaryen    0
dtype: int64

In [ ]:
"""
As we can see in the output,
When we create the pandas series using the Python dictionaries, the keys of the dictionary is automatically 
set as index of the Pandas Series

So, using these ways we create the pandas series.

Now lets learn as how we can query a pandas series, that is --> how to return a required value from the pandas series

Like I said at the start of the video, Pandas Series are considered as a cross between Python lists & dictionaries.

Hence to query a pandas series, We can use either its Index position or Index label

Lets look at our previous series, that is --> got_series
It has index as --> Catelyn stark, cersei lannister & Daenerys Targaryan
(Screen Recording tip : make sure the previous series is visible on screen)

These index which we see, are called as --> index labels, and behind these index labels, 
we have the index position which starts from zero

To return an element with the use of index position, we make use of --> 'iloc' attribute.
To illustrate, I will write as :
"""
print(got_series.iloc[1])

2

In [ ]:
"""
So, this has returned the value associated with the index position 1, in our case, it is the value associated with
Cersei Lannister , hence we have the value returned as --> 2

to build more intuition on this, This time, I will run as -->
"""
print(got_series.iloc[0])

5

In [ ]:
"""
So, we have the output as --> 5, which is the value associated with the index label --> Catelyn Stark

Now, not only we can return the value using the 'iloc' attribute, we can also modify the existing data
To illustrate, I will write as ;
"""
got_series.iloc[2] = 4
print(got_series)

Catelyn Stark         5
Cersei Lannister      2
Daenerys Targaryen    4
dtype: int64

In [ ]:
"""
As we can see in the output,
We have now changed the value associated with index position 2, to be equal to --> 4
hence, we have the value associated with 'Daenerys Targaryen' is equal to 4

In this way,
we make use of 'iloc' attribute of pandas series to return and modify the data using its index position


Now, lets see how we can return a data using the index label

To return a data using the index label, we make use of --> 'loc' attribute

To illustrate, i will write as :
"""
print(got_series.loc['Cersei Lannister'])
# As you can see, we will specify the index label inside the 'loc' attribute of pandas series,
#I will now execute the code

2

In [ ]:
"""
So, we have the output as --> 2. As simple as that.

Now, we can also modify the exisiting values by making use of the 'loc' attribute
So, I will write as :
"""
got_series.loc['Catelyn Stark'] = 10
print(got_series)

Catelyn Stark         10
Cersei Lannister       2
Daenerys Targaryen     4
dtype: int64

In [ ]:
"""
So, this has modified the value associated with index label - 'Catelyn Stark'

One special property of 'loc' attribute is, not only we can modify the existing values, we can also add a new 
elements to pandas series.
To illustrate, i will write it like this
"""
got_series.loc['Sansa Stark'] = 3
print(got_series)

Catelyn Stark         10
Cersei Lannister       2
Daenerys Targaryen     4
Sansa Stark            3
dtype: int64

In [ ]:
"""
So, this has added a new Index label as --> Sansa Stark,  with value as -->3 

I hope you now know as how to create a pandas series from scratch, how to query the series, and how to add a new elements to it.
With this, we come to the end of this video on Pandas Series.
In the next video, we are going to learn as how to work with pandas dataframe

"""